@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* font-family: var(--font-inter-sans); */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-geist-sans);
  --font-inter: var(--font-inter-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility shadow-elevated {
  box-shadow:
    3px 3px 4px 0 rgb(0 0 0 / 0.16),
    0 4px 4px 0 rgb(0 0 0 / 0.16),
    inset 0 4px 4px 0 rgb(0 0 0 / 0.16);
}

@utility shadow-elevated-dark {
  box-shadow:
    3px 3px 4px 0 rgb(200 200 200 / 0.2),
    0 4px 4px 0 rgb(200 200 200 / 0.2),
    inset 0 4px 4px 0 rgb(255 255 255 / 0.16);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-sans);
}
